.container {
  height: 600px;
  width: 1000px;
  margin: 0 auto;
  background-color: lightblue;
}

.compo {
  list-style: none;
  height: auto;
  width: auto;
}

.compo > li {
  margin-left: 20px;
  height: auto;
  width: auto;
  float: left;
}

.area-1 {
  height: 100px;
  width: 100%;
  border-bottom: 1px dashed grey;
}
