.list1 {
  list-style: none;
  width: 100%;
  height: auto;
}

.list1 > li {
  height: 200px;
  width: 200px;
  float: left;
  margin-left: 32px;
  margin-top: 32px;
  background-color: azure;
}

.list2 {
  margin-top: 30px;
  clear: both;
  list-style: none;
  width: 100%;
  height: auto;
}

.list2 > li {
  height: 30px;
  line-height: 30px;
  background-color: darkseagreen;
  color: white;
  margin-top: 3px;
}
