.user-info {
  height: 120px;
  background-color: cadetblue;
  width: 600px;
  margin-left: 200px;
}

.list {
  height: auto;
  border: 1px dashed gray;
  width: 1000px;
  margin-left: 200px;
  list-style: none;
  padding: 0px;
}

.list > li {
  padding: 0px;
  line-height: 48px;
  height: 48px;
  margin-top: 8px;
  border-bottom: 1px solid gold;

}
