.header {
  height: 48px;
  width: 100%;
  background-color: black;
}

.logo {
  padding: 0px;
  margin: 0px;
  display: inline-block;
  height: 48px;
  width: 60px;
  color: white;
  line-height: 48px;
  margin-left: 200px;
  text-align: center;
}

.logo:hover {
  background-color: gray;
  cursor: pointer;
}
