.list {
  width: 100%;
  height: auto;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.list > li {
  height: 200px;
  width: 190px;
  margin-left: 8px;
  margin-top: 10px;
  background-color: lightgray;
  float: left;
  color: yellow;
  font-size: 22px;
}

.list > li:last-child {
  margin-bottom: 10px;
}
